.navbar{

    position:sticky;
    top:0;

    z-index:1000;

    background:
    rgba(5,8,22,.85);

    backdrop-filter:blur(15px);

    border-bottom:
    1px solid rgba(255,255,255,.05);
}

.navbar-container{

    max-width:1400px;

    margin:auto;

    padding:20px 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.logo-container{

    display:flex;
    align-items:center;
    gap:10px;
}

.logo-img{
    width: 95px;
    margin-top: 10px;
    margin-right: -20px;
}

.logo{
    font-size:2rem;
}

.para{
    color:white;
}

.book{
    color:#8b5cf6;
    margin-left: -10px;
}

.menu{

    display:flex;
    gap:45px;

    list-style:none;
}

.menu a{

    text-decoration:none;
    color:#d4d4d8;

    transition:.3s;
}

.menu a:hover{
    color:#8b5cf6;
}

.nav-actions{

    display:flex;
    align-items:center;
    gap:15px;
}

.search-btn{

    width:45px;
    height:45px;

    border:none;

    background:transparent;

    color:white;

    cursor:pointer;

    font-size:1rem;
}

.btn-nav{

    text-decoration:none;

    padding:12px 24px;

    border-radius:12px;

    transition:.3s;
}

.btn-outline{

    border:
    1px solid rgba(255,255,255,.12);

    color:white;
}

.btn-outline:hover{

    border-color:#8b5cf6;
}

.btn-primary-nav{

    background:
    linear-gradient(
        135deg,
        #8b5cf6,
        #7c3aed
    );

    color:white;
}

.btn-primary-nav:hover{

    transform:translateY(-2px);

    box-shadow:
    0 10px 30px rgba(139,92,246,.4);
}