{% extends 'base.html' %}
{% load static %}

{% block title %}Minhas Comunidades{% endblock %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comunidade.css' %}">
<link rel="stylesheet" href="{% static 'css/comunidade-extra.css' %}">
{% endblock %}



{% block content %}

<section class="pagina-comunidade">

    <h1>Minhas Comunidades</h1>
    <p>Acompanhe as comunidades que você faz parte.</p>

    <div class="grid">

        {% for comunidade in comunidades %}
            <div class="card">
                <div class="card-content">
                    <h3>{{ comunidade.nome }}</h3>
                    <p>{{ comunidade.descricao }}</p>

                    <a href="#" class="btn">
                        Acessar
                    </a>
                </div>
            </div>
        {% empty %}
            <p class="empty-state">
                <i class="fas fa-users"></i><br>
                Você ainda não participa de nenhuma comunidade.
            </p>
        {% endfor %}

    </div>

</section>

{% endblock %}