{% extends 'base.html' %}
{% load static %}

{% block title %}
Excluir Comunidade
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/comunidade.css' %}">
{% endblock %}

{% block content %}

<section class="confirmacao-container">

    <div class="confirmacao-card">

        <i class="fas fa-triangle-exclamation"></i>

        <h2>
            Excluir Comunidade
        </h2>

        <p>
            Deseja realmente excluir a comunidade
            <strong>
                "{{ comunidade.nome }}"
            </strong>?
        </p>

        <form method="POST">

            {% csrf_token %}

            <div class="acoes-confirmacao">

                <a
                    href="{% url 'comunidades' %}"
                    class="btn-voltar"
                >
                    Cancelar
                </a>

                <button
                    type="submit"
                    class="btn-danger-outline"
                    style="padding: 8px 12px; border-radius: 8px; font-weight: bolder;"
                >
                    Excluir
                </button>

            </div>

        </form>

    </div>

</section>

{% endblock %}