{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
    href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<section class="titulo">

    <h2>Bem-Vindo ao ParaBook</h2>

    <p>
        Explore e leia milhares de livros
        no conforto da sua casa.
    </p>

    <a href="{% url 'biblioteca' %}">
        <button class="titulo-btn">
            Explorar Livros ➔
        </button>
    </a>

    <img src="{% static 'img/hero-bg.jpg' %}">

</section>

<!-- RESTANTE DO SEU HTML -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/carrossel.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
