{% extends 'base.html' %}
{% load static %}

{% block title %}
Biblioteca
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
    href="{% static 'css/biblioteca.css' %}">

<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
{% endblock %}

{% block content %}

<main id="topo">

    <!-- BANNER -->
    <section class="banner">

        <article class="container banner-content">

            <h2>
                Todos os Títulos
            </h2>

            <p>
                Aqui você encontrará uma ampla seleção
                de livros desde os clássicos aos atuais.
            </p>

            <p>
                Explore nosso acervo e descubra novos títulos
                em diferentes
                <strong><em>categorias</em></strong>.
            </p>

        </article>

    </section>

    <!-- FILOSOFIA -->
    <hr>

    <h2 class="genero-titulo">
        Filosofia
    </h2>

    <section class="agrupar-livros">

        {% for livro in livros_filosofia %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- LITERATURA -->
    <hr>

    <h2 class="genero-titulo">
        Literatura
    </h2>

    <section class="agrupar-livros">

        {% for livro in livros_literatura %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- RELIGIOSOS -->
    <hr>

    <h2 class="genero-titulo">
        Religiosos
    </h2>

    <section class="agrupar-livros">

        {% for livro in livros_religiosos %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- EXATAS -->
    <hr>

    <h2 class="genero-titulo">
        Ciências Exatas
    </h2>

    <section class="agrupar-livros">

        {% for livro in livros_exatas %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- INFANTIL -->
    <hr>

    <h2 class="genero-titulo">
        Infantis
    </h2>

    <section class="agrupar-livros">

        {% for livro in livros_infantis %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- AUTORES -->
    <hr>

    <h2 class="genero-titulo">
        Autores Independentes
    </h2>

    <section
        class="agrupar-livros"
        id="secao-independentes"
    >

        {% for livro in livros_independentes %}

            {% include 'partials/card_livro.html' %}

        {% empty %}

            <p>
                Nenhum livro encontrado.
            </p>

        {% endfor %}

    </section>

    <!-- BOTÃO TOPO -->
    <a href="#topo">

        <button
            class="button-top"
            id="voltar-topo"
        >

            <svg
                class="svgIcon"
                viewBox="0 0 384 512"
            >
                <path d="M214.6 41.4..."></path>
            </svg>

        </button>

    </a>

</main>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/biblioteca.js' %}"></script>

<script src="{% static 'js/index.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

{% endblock %}