{% extends 'base.html' %}
{% load static %}

{% block title %}
Mais Acessados | ParaBook
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mais-acessados.css' %}">
{% endblock %}

{% block content %}

<main>

    <section class="featured">

        <h2>Mais Acessados</h2>

        <p>
            Conteúdos selecionados com base em relevância,
            utilidade prática e impacto real na carreira.
        </p>

        <div class="grid">
            <!-- JS vai injetar os cards aqui -->
        </div>

    </section>

    <!-- MODAL -->
    <div id="modal" class="modal">

        <div class="modal-content">

            <span class="close-btn" id="closeModal">
                ×
            </span>

            <span class="modal-badge" id="modalCategory"></span>

            <h2 id="modalTitle"></h2>

            <p id="modalDesc"></p>

            <div class="modal-meta">

                <span id="modalLevel"></span>

                <span id="modalTime"></span>

            </div>

        </div>

    </div>

</main>

{% endblock %}

{% block extra_js %}

<script src="{% static 'js/index.js' %}"></script>

<script src="{% static 'js/featured.js' %}"></script>

<script src="{% static 'js/navbar.js' %}"></script>

{% endblock %}

